.col1 {
  margin-right: 3rem;
  height: 30rem;
  border: 1px solid red;
}
.upIcon {
  width: 1.2rem;
  height: 1.2rem;
}
.badge {
  float: left;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  font-style: 100;
}

@media (max-width: 600px) {
  .col1 {
    display: none;
  }
}
@media (max-device-width: 375px) {
  .col1 {
    display: none;
  }
}
